<!doctype html>
<html lang="en" ng-app="eventsApp">
<head>
	<meta charset="utf-8">
	<title>Event Registration</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/app.css">
</head>
<body ng-cloak>
	<div class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<ul class="nav">
					<li class="nav-item"><a href="eventDetails.html">Events Details</a></li>
					<li class="nav-item"><a href="editEvent.html">Edit Events</a></li>
				</ul>
			</div>
		</div>
		<div ng-controller="EventController">
			<img ng-src="{{event.imageUrl}}" alt="{{event.name}} Logo">
			<div class="row">
				<div class="span12">
					<h2 ng-bind-template="{{event.name | uppercase}} chris"></h2>
					<div ng-bind-html="snippet">Some title</div>
				</div>
				<div class="span4">
					<h3>{{event.date}} | {{event.time}}</h3>
				</div>
				<div class="span4">
					<address>
						<strong>Address:</strong><br/>
						{{event.location.address}} <br/>
						{{event.location.city}}, {{event.location.state}}
					</address>
				</div>
			</div>
			<button class="btn" ng-disabled="true">Nice</button>
			<hr/>
			<h3>Sessions</h3>
			<ul class="thumbnails">
				<li ng-repeat="session in event.sessions">
					<div class="row session">
						<div class="span0 well votingWidget">
							<div class="votingButton" ng-click="upVoteSession(session)">
								<div class="icon-chevron-up icon-white"></div>
							</div>
							<div class="badge badge-inverse">
								<div>{{session.upVoteCount}}</div>
							</div>
							<div class="votingButton" ng-click="downVoteSession(session)">
								<div class="icon-chevron-down icon-white"></div>
							</div>
						</div>
						<div class="well span9">
							<h4 class="well-title" style="margin-bottom: 0;">{{session.name}}</h4>
							<h6>{{session.creatorName}}</h6>
							<span>Duration: {{session.duration}}</span><br/>
							<span>Level: {{session.level | eventLevel}}</span>
							<p>{{session.abstract}}</p>
						</div>
					</div>
				</li>
			</ul>

		</div>
	</div>
	<script src="lib/jquery.min.js"></script>
	<script src="lib/underscore-1.4.4.min.js"></script>
	<script src="lib/bootstrap.min.js"></script>
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-sanitize.js"></script>
	<script src="lib/angular/angular-resource.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/controllers/event.js"></script>
	<script src="js/controllers/editEvent.js"></script>
	<script src="js/services/EventData.js"></script>
</body>
</html>